@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* :root {
  --primary-color: #2563eb;
  --white-color: #ffffff;
  --secondary-color: #f9fafb;
  --description-color: #6b7280;
  --gray-color: #e5e7eb;
} */

* {
  font-family: "Inter", sans-serif;
}
